{% extends 'base.html' %}

{% block content %}
<div class="container mt-5">
    <div class="row justify-content-center">
        <div class="col-md-8">
            <div class="card">
                <div class="card-header bg-primary text-white text-center">
                    <h4>{{student.first_name.title}} {{student.last_name.title}} oylik to'lovlari tarixi</h4>
                </div>
                <div class="card-body">
                    {% if payments %}
                        <table class="table table-bordered">
                            <thead>
                                <tr>
                                    <th>#</th>
                                    <th>To'lov turi</th>
                                    <th>To'lov miqdori</th>
                                    <th>To'lovni qabul qilgan </th>
                                    <th>Kursi uchun </th>
                                    <th>Sana</th>
                                </tr>
                            </thead>
                            <tbody>
                                {% for payment in payments %}
                                    <tr>
                                        <td>{{ forloop.counter }}</td>
                                        <td>{{ payment.get_type_display }}</td>
                                        <td>{{ payment.amount }}</td>
                                        <td>{{ payment.teacher.first_name.title}} {{payment.teacher.last_name.title}}</td>
                                        <td> {{payment.subject}}</td>
                                        <td>{{ payment.created_date|date:"Y-m-d H:i" }}</td>
                                    </tr>
                                {% endfor %}
                            </tbody>
                        </table>
                        <br>
                        <div class="text-end">
                            <h5>Umumiy to'lov miqdori: <strong>{{ total_amount }}</strong> so'm</h5>
                        </div>
                    {% else %}
                        <p>Siz hali to'lovlarni amalga oshirmadingiz.</p>
                    {% endif %}
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock %}